## Livro

Bibliotecas - Pag 15 e 16

Cookiecutter (Pag 21): https://github.com/drivendata/cookiecutter-data-science

## **Bibliotecas (Import)**

In [ ]:
#!pip uninstall pyjanitor --yes
#!pip install pyjanitor==0.23.1
#!pip install janitor

In [10]:
%matplotlib inline
import matplotlib.pyplot as plt
import janitor as jn
import numpy as np
import pandas as pd
import seaborn as sns

## **Coleta de dados**

In [2]:
df = pd.read_csv("titanic.csv").drop(1309)
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

## **Nome de colunas**

Ao usar pandas, ter nomees de colunas apropriadas torna possÃ­vel o acesso aos atribuots

In [26]:
import janitor as jn
Xbad = pd.DataFrame(
    {
        "A" : [1, None, 3],
        "sales number" : [20.0, 30.0, None]
    }
)
Xbad

     A  sales number
0  1.0          20.0
1  NaN          30.0
2  3.0           NaN

Transforma colunas em letras minÃºsculas e os espaÃ§os substituidos por _

Recomendado atualizar as colunas usando atribuiÃ§Ãµes com Ã­ndices, o mÃ©todo .assign ou .loc e .iloc

NÃ£o Ã© recomendado usar atribuiÃ§Ãµes para atualizar as colunas no pandas (risco de sobrescrever mÃ©todos existentes com o mesmo nome de uma coluna)

In [24]:
jn.clean_names(Xbad)

     a  sales_number
0  1.0          20.0
1  NaN          30.0
2  3.0           NaN

In [27]:
def clean_col(name):
  return (
      name.strip().lower().replace(" ", "_")
  )

Xbad.rename(columns=clean_col)

     a  sales_number
0  1.0          20.0
1  NaN          30.0
2  3.0           NaN